<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-offset-3">
      <%= simple_form_for profile do |f| %>
        <form class="row" method="post">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :first_name , class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :last_name , class: "form-control" %>
              </div>
            </div>
          <div class="col-md-12 text-center padding-bottom-100">
            <%= f.button :submit, class:"btn btn-primary" %>
            <br>
            <br>
          </div>
        </form>
      <% end %>
    </div>
  </div>
</div>
