<div class="banner">
  <div class="banner-content">
    <h1>AirP+R</h1>
    <p>Book your parking slot for tomorrow and <br> park your car where you work</p>
    <%= link_to 'Start now', parkings_path, class: 'btn btn-danger' %>
  </div>
</div>
