<div class="banner">
  <div class="banner-content">
    <h1>AirP+R</h1>
    <p>Book your parking slot for tomorrow and <br> park your car where you work</p>
    <a class="btn btn-lg" style="background-color:#FF5661; color: white;">Start now</a>
  </div>
</div>
