    <!--============================= FOOTER =============================-->
    <footer class="main-block gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 responsive-wrap">
                    <div class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>69 route d'Esch<br> L2953, Luxembourg</p>
                    </div>
                </div>
                <div class="col-md-4 responsive-wrap">
                    <div class="footer-logo_wrap">

                    </div>
                </div>
                <div class="col-md-4 responsive-wrap">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/pages/Banque-Internationale-%c3%a0-Luxembourg/297442783622934" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/bil_lux" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="http://www.linkedin.com/company/2240549" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/user/BIL1856" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="mailto:adobbels@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                        <li><a href="tel:+352.661.14.24.31"><i class="fa fa-phone" aria-hidden="true"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--//END FOOTER -->
