<p>Hi <%= @booking.profile.first_name %>,</p>

<p>You just booked the car park <%= @booking.parking.number %> within Banque Internationale à Luxembourg for tomorrow!</p>
<p>Enjoy it and keep on booking available space if you don't want to lose time in the 🚌 </p>
